<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Sardine</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151954585-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-151954585-1');
  </script>-->
  <link rel="shortcut icon" href="/public/img/favicon.ico" />
  <link rel="stylesheet" href="/public/css/reset.css">
  {{#if landing}}
    <link href="/public/css/index.css" type="text/css" rel="stylesheet" />
    <script src="/public/js/index.js" defer></script>
  {{else}}
    <link rel="stylesheet" href="/public/css/admin.css">
    <script src="/public/js/admin.js" defer></script>
  {{/if}}
</head>

<body>
  {{#if landing}}
    {{{content}}}
  {{else}}
    <div id="main">
      {{#unless login}}
        <div id="nav">
          <a href="/" class="logo"><img src="/public/img/logo.jpg"/></a>
          <div class="links">
            <a href="/admin/users" id="nav-users">Users</a>
            <a href="/admin/events" id="nav-events">Events</a>
            <a href="/admin/menu" id="nav-menu">Menu</a>
          </div>
        </div>
      {{/unless}}
      {{{content}}}
    </div>
  {{/if}}
</body>

</html>
