<div class="titleBlock">
  <div class="heading">Manage Events - <a href="/admin/events/new">New</a></div>
</div>



{{#each events}}
  <div class="cover">
    <p class="name">{{this.name}} ({{date this.date}})</p>
    <a class="edit" href="/admin/events/{{this._id}}">Edit</a>
    <a class="delete" data-confirm="Delete {{this.name}}" data-url="/admin/events/{{this._id}}">Delete</a>
  </div>
{{/each}}

{{#unless events}}
  <p class="textBlock">No events</p>
{{/unless}}

<script type="text/javascript">
    document.getElementById('nav-events').classList.add('active');
</script>
