<form method="post" id="login" action="/admin">
  <div class="heading">Log In</div>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

  <div class="form__group half">
    <input type="text" class="form__field" placeholder="Email" name="email" id="email" value="{{email}}" required />
    <label for="email" class="form__label">Email</label>
  </div>

  <div class="form__group half">
    <input type="password" class="form__field" placeholder="Password" name="password" id="password" required />
    <label for="password" class="form__label">Password</label>
  </div>

  <input type="submit" value="Submit">
</form>
