<div class="titleBlock">
  <div class="heading">Manage Menu Items - <a href="/admin/menu/new">New</a></div>
</div>



{{#each menu}}
  <div class="cover">
    <p class="name">{{this.name}} [{{lowercasetrim this.type}}]</p>
    <a class="edit" href="/admin/menu/{{this._id}}">Edit</a>
    <a class="delete" data-confirm="Delete {{this.name}}" data-url="/admin/menu/{{this._id}}">Delete</a>
  </div>
{{/each}}

{{#unless menu}}
  <p class="textBlock">No menu items</p>
{{/unless}}

<script type="text/javascript">
    document.getElementById('nav-menu').classList.add('active');
</script>
