@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fauna+One|Gayathri:100,400,700|Inconsolata:400,700&display=swap");
html {
  font-size: 87.5%;
}

em {
  font-style: italic !important;
}

strong {
  font-weight: bold !important;
}
strong.alt {
  color: #cccccc;
}

small {
  font-size: 1.125rem;
}

a {
  color: #cccccc;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #999999;
}

body {
  background-color: #000000;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}

#nav {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo links";
  color: #FFFFFF;
  width: 100%;
  height: 15vmin;
  border-bottom: 1px solid #FFFFFF;
  background-color: #000000;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
}
#nav .logo {
  grid-area: logo;
  height: 15vmin;
  box-sizing: border-box;
  padding-top: 1ex;
  padding-bottom: 1ex;
}
#nav .logo img {
  height: 100%;
  aspect-ratio: auto;
  user-select: none;
}
#nav .links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  flex-wrap: nowrap;
}
#nav .links a {
  box-sizing: border-box;
  padding-left: 1ex;
  padding-right: 1ex;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #FFFFFF;
  background-color: #000000;
  font-variant: small-caps;
  letter-spacing: 1px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .links a:hover, #nav .links a.active {
  color: #cccccc;
}

.textBlock {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: #FFFFFF;
  overflow-wrap: break-word;
}
.textBlock.extraPadding {
  padding: 20px;
}
.textBlock.doubleSpaced p {
  margin-bottom: calc(5px + 1em);
}
.textBlock .heading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-variant: small-caps;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 2.666rem;
  text-align: center;
}
.textBlock .heading:last-child {
  margin-bottom: 0;
}
.textBlock p {
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 5px;
}
.textBlock p:last-child {
  margin-bottom: 0;
}

.titleBlock {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: #FFFFFF;
  overflow-wrap: break-word;
}
.titleBlock.extraPadding {
  padding: 20px;
}
.titleBlock .heading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-variant: small-caps;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 3.554rem;
  text-align: center;
}
.titleBlock .heading:last-child:first-child {
  border-bottom: none;
}
.titleBlock p {
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  text-align: left;
  margin-bottom: 5px;
}
.titleBlock p:last-child {
  margin-bottom: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
  font-size: 2.666rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #FFFFFF;
  color: #000000;
  margin-bottom: 10px;
}
.button:hover {
  color: #333333;
}

.cover {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2ex auto 2ex auto;
  grid-template-rows: auto;
  grid-template-areas: "name . edit . delete";
  font-family: "Inconsolata", monospace;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
  font-size: 1.5rem;
  color: #000000;
  background: #FFFFFF;
  margin-bottom: 10px;
}
.cover .name {
  grid-area: name;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
}
.cover .name::-webkit-scrollbar {
  display: none;
}
.cover .edit {
  grid-area: edit;
  color: #000000;
  cursor: pointer;
}
.cover .edit:hover {
  color: #333333 !important;
}
.cover .delete {
  grid-area: delete;
  color: #000000;
}
.cover .delete:hover {
  color: #333333 !important;
}
.cover .delete.disabled {
  text-decoration: line-through;
}
.cover .disabled {
  cursor: not-allowed;
}
.cover .disabled:hover {
  color: #000000 !important;
}

form {
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  box-sizing: border-box;
}
form .heading {
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFFFFF;
  font-variant: small-caps;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 3.554rem;
  text-align: center;
}
form .delete {
  color: #FFFFFF;
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
  font-size: 2rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .delete:hover {
  color: #cccccc;
}
form .error {
  width: 100%;
  color: #cccccc;
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5px;
}
form .form__group {
  margin-top: 20px;
  position: relative;
  font-size: 1.5rem;
  line-height: 1;
  height: 2em;
  margin-left: 5px;
  margin-right: 5px;
}
form .form__group.third {
  width: calc((100% - 30px) / 3);
}
form .form__group.fourth {
  width: calc((100% - 40px) / 4);
}
form .form__group.fifth {
  width: calc((100% - 50px) / 5);
}
form .form__group.half {
  width: calc((100% - 20px) / 2);
}
form .form__group.full {
  width: calc(100% - 10px);
}
form .form__group .form__field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #cccccc;
  outline: none;
  font-size: 1.5rem;
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
  color: #cccccc;
  background: transparent;
  transition: border-color 0.2s;
  position: absolute;
  bottom: 0;
}
form .form__group .form__field::placeholder {
  opacity: 0;
}
form .form__group .form__field:placeholder-shown ~ .form__label {
  font-size: 1.5rem;
  bottom: 0;
  transform: none;
  cursor: text;
}
form .form__group .form__field:invalid, form .form__group .form__field:required {
  box-shadow: none;
}
form .form__group .form__field:focus {
  border-color: #FFFFFF;
}
form .form__group .form__field:focus ~ .form__label {
  font-size: 0.75rem;
  color: #FFFFFF;
  bottom: 100%;
  transform: translateY(100%);
}
form .form__group .form__label {
  position: absolute;
  transition: 0.2s;
  bottom: 100%;
  transform: translateY(100%);
  font-size: 0.75rem;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  color: #cccccc;
}
form .form__group__area {
  margin-top: 20px;
  position: relative;
  font-size: 1.5rem;
  line-height: 1;
  margin-left: 5px;
  margin-right: 5px;
}
form .form__group__area.third {
  height: 4em;
  width: calc((100% - 30px) / 3);
}
form .form__group__area.fourth {
  height: 6em;
  width: calc((100% - 40px) / 4);
}
form .form__group__area.half {
  height: 8em;
  width: calc((100% - 20px) / 2);
}
form .form__group__area.full {
  height: 10em;
  width: calc(100% - 10px);
}
form .form__group__area .form__field {
  resize: none;
  width: 100%;
  border: 0;
  height: calc(100% - 1em);
  border-bottom: 1px solid #cccccc;
  outline: none;
  font-size: 1.5rem;
  font-family: "Gayathri", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
  color: #FFFFFF;
  background: transparent;
  transition: border-color 0.2s;
  position: absolute;
  bottom: 0;
}
form .form__group__area .form__field::placeholder {
  opacity: 0;
}
form .form__group__area .form__field:placeholder-shown ~ .form__label {
  font-size: 1.5rem;
  bottom: 0;
  transform: none;
  cursor: text;
}
form .form__group__area .form__field:invalid, form .form__group__area .form__field:required {
  box-shadow: none;
}
form .form__group__area .form__field:focus {
  border-color: #FFFFFF;
}
form .form__group__area .form__field:focus ~ .form__label {
  font-size: 0.75rem;
  color: #FFFFFF;
  bottom: 100%;
  transform: translateY(100%);
}
form .form__group__area .form__label {
  position: absolute;
  transition: 0.2s;
  bottom: 100%;
  transform: translateY(100%);
  font-size: 0.75rem;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  color: #cccccc;
}
form .subheading {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
form input[type=submit] {
  margin-top: 20px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
  font-size: 2rem;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}
form input[type=submit]:active, form input[type=submit]:hover {
  color: #cccccc;
}

/*# sourceMappingURL=admin.css.map */
