@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fauna+One|Gayathri:100,400,700|Inconsolata:400,700&display=swap');
$white: #FFFFFF;
$accent: darken(#FFFFFF, 20%);
$black: #000000;
@mixin textBody {
  font-family: 'Gayathri', sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
}
@mixin textTitle {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
@mixin textMonospace {
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  letter-spacing: 0;
  font-style: normal;
}
@mixin flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin textSmallest {
  font-size: 0.75rem;
}
@mixin textSmaller {
  font-size: 1.125rem;
}
@mixin textSmall {
  font-size: 1.25rem;
}
@mixin textNormal {
  font-size: 1.5rem;
}
@mixin textBig {
  font-size: 2.000rem;
}
@mixin textBigger {
  font-size: 2.666rem;
}
@mixin textBiggest {
  font-size: 3.554rem;
}
@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  font-size: 87.5%;
}

em {
  font-style: italic !important;
}

strong {
  font-weight: bold !important;

  &.alt {
    color: $accent;
  }
}

small {
  @include textSmaller;
}

a {
  color: $accent;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: darken($accent, 20%);
  }
}

body {
  background-color: $black;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}

#nav {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'logo links';
  color: $white;
  width: 100%;
  height: 15vmin;
  border-bottom: 1px solid $white;
  background-color: $black;
  position: sticky;
  top: 0;
  margin-bottom: 10px;

  .logo {
    grid-area: logo;
    height: 15vmin;
    box-sizing: border-box;
    padding-top: 1ex;
    padding-bottom: 1ex;

    img {
      height: 100%;
      aspect-ratio: auto;
      user-select: none;
    }
  }

  .links {
    grid-area: links;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    flex-wrap: nowrap;

    a {
      box-sizing: border-box;
      padding-left: 1ex;
      padding-right: 1ex;
      @include textTitle;
      @include textBig;
      color: $white;
      background-color: $black;
      font-variant: small-caps;
      letter-spacing: 1px !important;
      text-align: center;
      @include flexCentered;

      &:hover, &.active {
        color: $accent;
      }
    }
  }
}

.textBlock {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: $white;
  overflow-wrap: break-word;

  &.extraPadding {
    padding: 20px;
  }

  &.doubleSpaced p {
    margin-bottom: calc(5px + 1em);
  }

  .heading {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-variant: small-caps;
    @include textTitle;
    @include textBigger;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    @include textBody;
    @include textNormal;
    text-align: left;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.titleBlock {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: $white;
  overflow-wrap: break-word;

  &.extraPadding {
    padding: 20px;
  }

  .heading {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-variant: small-caps;
    @include textTitle;
    @include textBiggest;
    text-align: center;

    &:last-child:first-child {
      border-bottom: none;
    }
  }

  p {
    @include textBody;
    @include textBig;
    text-align: center;
    text-align: left;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.button {
  @include flexCentered;
  text-align: center;
  @include textMonospace;
  @include textBigger;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: $white;
  color: $black;
  &:hover {
    color: lighten($black, 20%);
  }
  margin-bottom: 10px;
}

.cover {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2ex auto 2ex auto;
  grid-template-rows: auto;
  grid-template-areas: 'name . edit . delete';
  @include textMonospace;
  @include textNormal;
  color: $black;
  background: $white;
  margin-bottom: 10px;

  .name {
    grid-area: name;
    width: 100%;
    overflow-x: scroll;
    @include hideScrollbar;
    white-space: nowrap;
  }

  .edit {
    grid-area: edit;
    color: $black;
    cursor: pointer;

    &:hover {
      color: lighten($black, 20%) !important;
    }
  }

  .delete {
    grid-area: delete;
    color: $black;

    &:hover {
      color: lighten($black, 20%) !important;
    }

    &.disabled {
      text-decoration: line-through;
    }
  }

  .disabled {
    cursor: not-allowed;
    &:hover {
      color: $black !important;
    }
  }
}

form {
  width: 100%;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  box-sizing: border-box;

  .heading {
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $white;
    font-variant: small-caps;
    @include textTitle;
    @include textBiggest;
    text-align: center;
  }

  .delete {
    color: $white;
    @include textBody;
    @include textBig;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    @include flexCentered;

    &:hover {
      color: $accent;
    }
  }

  .error {
    width: 100%;
    color: $accent;
    @include textBody;
    @include textBig;
    text-align: center;
    margin-bottom: 5px;
  }

  .form__group {
    margin-top: 20px;
    position: relative;
    @include textNormal;
    line-height: 1;
    height: 2em;
    margin-left: 5px;
    margin-right: 5px;

    &.third {
      width: calc((100% - 30px) / 3);
    }

    &.fourth {
      width: calc((100% - 40px) / 4);
    }

    &.fifth {
      width: calc((100% - 50px) / 5);
    }

    &.half {
      width: calc((100% - 20px) / 2);
    }

    &.full {
      width: calc(100% - 10px);
    }

    .form__field {
      width: 100%;
      border: 0;
      border-bottom: 1px solid $accent;
      outline: none;
      @include textNormal;
      @include textBody;
      color: $accent;
      background: transparent;
      transition: border-color 0.2s;
      position: absolute;
      bottom: 0;

      &::placeholder {
        opacity: 0;
      }

      &:placeholder-shown ~ .form__label {
        @include textNormal;
        bottom: 0;
        transform: none;
        cursor: text;
      }

      &:invalid,
      &:required {
        box-shadow: none;
      }

      &:focus {
        ~ .form__label {
          @include textSmallest;
          color: $white;
          bottom: 100%;
          transform: translateY(100%);
        }
        border-color: $white;
      }
    }

    .form__label {
      position: absolute;
      transition: 0.2s;
      bottom: 100%;
      transform: translateY(100%);
      @include textSmallest;
      @include textTitle;
      color: $accent;
    }
  }

  .form__group__area {
    margin-top: 20px;
    position: relative;
    @include textNormal;
    line-height: 1;
    margin-left: 5px;
    margin-right: 5px;

    &.third {
      height: 4em;
      width: calc((100% - 30px) / 3);
    }

    &.fourth {
      height: 6em;
      width: calc((100% - 40px) / 4);
    }

    &.half {
      height: 8em;
      width: calc((100% - 20px) / 2);
    }

    &.full {
      height: 10em;
      width: calc(100% - 10px);
    }

    .form__field {
      resize: none;
      width: 100%;
      border: 0;
      height: calc(100% - 1em);
      border-bottom: 1px solid $accent;
      outline: none;
      @include textNormal;
      @include textBody;
      color: $white;
      background: transparent;
      transition: border-color 0.2s;
      position: absolute;
      bottom: 0;

      &::placeholder {
        opacity: 0;
      }

      &:placeholder-shown ~ .form__label {
        @include textNormal;
        bottom: 0;
        transform: none;
        cursor: text;
      }

      &:invalid,
      &:required {
        box-shadow: none;
      }

      &:focus {
        ~ .form__label {
          @include textSmallest;
          color: $white;
          bottom: 100%;
          transform: translateY(100%);
        }
        border-color: $white;
      }
    }

    .form__label {
      position: absolute;
      transition: 0.2s;
      bottom: 100%;
      transform: translateY(100%);
      @include textSmallest;
      @include textTitle;
      color: $accent;
    }
  }

  .subheading {
    @include textTitle;
    @include textBig;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid $accent;
  }

  input[type="submit"] {
    margin-top: 20px;
    width: 100%;
    background: transparent;
    color: $white;
    @include textBig;
    @include textTitle;
    border: none;
    outline: none;
    cursor: pointer;

    &:active,
    &:hover {
      color: $accent;
    }
  }
}
